name: Build Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-docker:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: ./scripts/docker_build.sh ${{ github.sha }}

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install --frozen-lockfile

    - name: Run lint
      run: bun run lint

    - name: Run unit tests
      run: bun run test

    - name: Run build
      run: bun run build
